@import "./normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  max-width: 1400px;
  margin: auto;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #22343D;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #22343D;
}
li {
  list-style-type: none; 
 }
 ul {
  margin-left: 0;
  padding-left: 0; 
 }


 /*HEADER*/


.header {
  display: flex;
  max-width: 1130px;
  margin: 0 auto;
  margin-right: 7%;
  margin-bottom: 25px;
  padding: 12px 0px 12px 0px;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 21px;
}
.logo__link {
  display: inline-flex;
}
.logo__icon {
  margin-right: 17px;
}
.logo__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: #173A56;
}
.header__nav {
  margin-left: auto;
  margin-right: 2%;
}
.nav {
  min-width: 33.5%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.nav__link._active {
  font-weight: 500;
}
.nav__link:hover {
  font-family: Poppins;
  font-weight: 400;
  opacity: 0.85;
}
.header__actions {
  display: flex;
  align-items: center;
}
.header__auth {
  display: inline-block;
  white-space: nowrap;
}
.header__auth:not(:last-child) {
  margin-right: 24px;
}
.header__button {
  display: inline-block;
  font-family: Poppins;
  font-weight: 600;
  color: #FFFFFF;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  background: #02897A;
  padding: 8px 23px;
}
.header__button:hover {
  background: #FFFFFF;
  border-radius: 4px;
  color: #173A56;
}
.theme__button {
  display: inline-block;
}
.theme__icon {
  padding-top: 5px;
}


/*MAIN_INTRO*/


.main__intro {
  max-width: 1150px;
  margin: 0 auto;
}
.intro {
  display: flex;
  align-items: center;
}
.card {
  display: flex;
  align-items: center;
  padding-left: 60px;
}
.card__article {
  display: flex;
  flex-direction: column;
  
}
.article__title {
  max-width: 80%;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
}
.article__text {
  max-width: 90%;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 45px;
}
.article__link {
  display: inline-block;
  white-space: nowrap;
}
.article__link:not(:last-child) {
  margin-right: 20px;
}
.article__actions {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.article__button {
  display: inline-block;
  font-family: Poppins;
  font-weight: 600;
  color: #FFFFFF;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  background: #02897A;
  padding: 13px 40px;
}
.article__button:hover {
  background: #FFFFFF;
  border-radius: 4px;
  color: #173A56;
}
.article__button._white {
  display: inline-flex;
  align-items: center;
  text-decoration: underline;
  background: #FFFFFF;
  color: #02897A;
  border: none;
  padding: 0;
}
.article__button._white:before {
  content: url(../assets/icons/watch_icon.svg);
  padding: 10px 10px 5px 10px;
}