@import "./normalize.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
  max-width: 1400px;
  margin: auto;
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  color: #22343D;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #22343D;
}
li {
  list-style-type: none; 
 }
 ul {
  margin-left: 0;
  padding-left: 0; 
  margin-block-start: 0;
  margin-block-end: 0;
 }


 /*HEADER*/


.header {
  display: flex;
  max-width: 1150px;
  margin: 0 auto;
  /* margin-right: 7%; */
  margin-bottom: 25px;
  padding: 12px 0px 12px 0px;
}

.logo {
  display: flex;
  align-items: center;
  padding-left: 21px;
}
.logo__link {
  display: inline-flex;
}
.logo__icon {
  margin-right: 17px;
}
.logo__title {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  color: #173A56;
}
.header__nav {
  margin-left: auto;
  margin-right: 2%;
}
.nav {
  min-width: 33.5%;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

.nav__link._active {
  font-weight: 500;
}
.nav__link:hover {
  font-family: Poppins;
  font-weight: 400;
  opacity: 0.85;
}
.header__actions {
  display: flex;
  align-items: center;
}
.header__auth {
  display: inline-block;
  white-space: nowrap;
}
.header__auth:not(:last-child) {
  margin-right: 24px;
}
.header__button {
  display: inline-block;
  font-family: Poppins;
  font-weight: 600;
  color: #FFFFFF;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  background: #02897A;
  padding: 8px 23px;
}
.header__button:hover {
  background: #FFFFFF;
  border-radius: 4px;
  color: #173A56;
}
.theme__button {
  display: inline-block;
}
.theme__icon {
  padding-top: 5px;
}


/*INTRO*/


.main__intro {
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 114px;
}
.intro {
  display: flex;
  align-items: center;
}
.card {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__article {
  display: flex;
  flex-direction: column;
}
.article {
  padding-left: 60px;
  max-width: 40%;
}
.article__title {
  max-width: 80%;
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
}
.article__text {
  max-width: 90%;
  font-size: 18px;
  line-height: 28px;
  margin-bottom: 45px;
}
.article__link {
  display: inline-block;
  white-space: nowrap;
}
.article__link:not(:last-child) {
  margin-right: 20px;
}
.article__actions {
  display: flex;
  align-items: center;
  padding-top: 10px;
}
.article__button {
  display: inline-block;
  font-family: Poppins;
  font-weight: 600;
  color: #FFFFFF;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  background: #02897A;
  padding: 13px 40px;
}
.article__button:hover {
  background: #FFFFFF;
  border-radius: 4px;
  color: #173A56;
}
.article__button._white {
  display: inline-flex;
  align-items: center;
  text-decoration: underline;
  background: #FFFFFF;
  color: #02897A;
  border: none;
  padding: 0;
}
.article__button._white:before {
  content: url(../assets/icons/watch_icon.svg);
  padding: 10px 10px 5px 10px;
}


/*ADVANTAGES*/


.main__advanteges {
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 169px;
}
.advantages {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.advantages__title {
  width: 45%;
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
  text-align: center;
  margin-bottom: 60px;
}
.list._flex {
  display: flex;
  justify-content: space-between;
  max-width: 93%;
  margin-bottom: 60px;
}
.list__item._small {
  max-width: 20%;
  display: flex;
  flex-direction: column;
}
.list__title {
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
}
.list__text {
  line-height: 26px;  
}
.advantages__button {
  display: inline-block;
  font-family: Poppins;
  font-weight: 600;
  color: #FFFFFF;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  background: #02897A;
  padding: 13px 40px;
}
.article__button:hover {
  background: #FFFFFF;
  border-radius: 4px;
  color: #173A56;
}


/*INFO*/


.main__info {
  max-width: 1100px;
  margin: 0 auto;
}
.info__card {
  margin-bottom: 188px;
}
.title {
  display: flex;
  flex-direction: column;
}
.title__sub {
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
}
.title__main {
  font-weight: bold;
  font-size: 32px;
  line-height: 48px;
}
.content {
  display: flex;
  flex-direction: column;
}
.content__text {
  line-height: 26px;
}
.content__text:not(:last-child) {
  margin-bottom: 30px;
}
.content__subtitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 12px;
}
.list__item._row {
  width: 93%;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.list__icon {
  margin-right: 30px;
}


/*PRICE*/

.price {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.price__cards {
  display: flex;
  
}
.price__card {
  display: flex;
  flex-direction: column;
}

.price__title {
  font-weight: bold;
  font-size: 34px;
  line-height: 51px;
}
.price__title {
  font-weight: 500;
  line-height: 24px;
}


/*CONTACTS*/


.main__contacts {
  max-width: 1100px;
  margin: 0 auto;
  margin-bottom: 150px;
}
.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #DDDDDD;
  border-radius: 20px;
}
.contacts__title {
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: 0.1px;
  margin: 45px 0;
}
.contacts__name, .contacts__email {
  background: #F5F5F5;
  border: 1px solid #E8E8E8;
  border-radius: 39px;
  margin-bottom: 45px;
  min-width: 70%;
  padding: 15px 20px;
}
.contacts__message {
  background: #F5F5F5;
  border: 1px solid #E8E8E8;
  min-width: 70%;
  margin-bottom: 45px;
  padding: 15px 20px;
}
.contacts__button {
  background: #02897A;
  border-radius: 35px;
  font-weight: 500;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.2px;
  color: #FFFFFF;
}

/*FOOTER*/


.footer {
  max-width: 1100px;
  margin: 0 auto;
}
.footer__main {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}
.social {
  padding: 0px 10px 0 30px;
  display: flex;
  justify-content: space-between;
}
.social__link {
  display: inline-block;
}
.menu__title {  
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.menu__text {
  line-height: 35px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 26%;
}
.form__title {
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
}
.form__input {
  background: #FFFFFF;
  border: 1px solid #BCD0E5;
  box-sizing: border-box;
  border-radius: 4px;
}
.form__button {
  display: inline-block;
  font-family: Poppins;
  font-weight: 600;
  color: #FFFFFF;
  border: 1px solid #BCD0E5;
  border-radius: 4px;
  background: #02897A;
  padding: 10px 15px;
}
.form__button:hover {
  background: #FFFFFF;
  border-radius: 4px;
  color: #173A56;
}
.subfooter {
  text-align: center;
}
.subfooter__text {
  line-height: 30px;
}